integrations:
- name: nri-oracledb
  env:
    # The service name for the Oracle instance
    SERVICE_NAME: ORCL
    # The host on which Oracle is listening. If omitted, defaults to 127.0.0.1
    HOSTNAME: oracle_host
    # The port on which Oracle is listening. If omitted, defaults to 1521
    PORT: 12345
    # Alternatively, a full connection string can be used. This takes priority over host, port, and service_name.
    # CONNECTION_STRING:   (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oraclehost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)))

    # The username for the monitoring user.
    USERNAME: oracle_monitor
    # The password for the monitoring user.
    PASSWORD: password

    # True if the monitoring user is a SysDBA. If omitted, defaults to false.
    IS_SYS_DBA: false
    # The location of ORACLE_HOME
    ORACLE_HOME: /u01/app/oracle/product/version/database
    # True if the monitoring user is a SysOper. If omitted, defaults to false.
    IS_SYS_OPER: false
    # A JSON array of tablespaces to collect. If omitted, collects all tablespaces.
    TABLESPACES: '["tablespace1", "tablespace2"]'

    # Collect extended metrics. If omitted, defaults to false.
    EXTENDED_METRICS: true
    # Disable connection pool. Might fix issues with the applciation not being able to execute some queries
    DISABLE_CONNECTION_POOL: false

    # Maximum number of connections opened by the integration
    # MAX_OPEN_CONNECTIONS: 5

    # A custom metrics query will run the custom query, then save the columns as
    # metrics on the OracleCustomSample event type.
    # CUSTOM_METRICS_QUERY: >-
    #   SELECT
    #     SUM(PHYRDS) AS "physical_reads",
    #     INST_ID AS "inst_id"
    #   FROM gv$filestat
    #   GROUP BY INST_ID

    # Metrics collected are grouped together depending on the query used to obtain the data. 
    # These metric groups are defined in https://github.com/newrelic/nri-oracledb/blob/master/src/metric_definitions.go
    # and can be skipped from collection by adding the name of the group to SKIP_METRICS_GROUPS in Json array format.
    # By default no group is skipped.
    # SKIP_METRICS_GROUPS: '["sgauga_total_memory"]'

  interval: 15s
  labels:
    env: production
  inventory_source: config/oracledb
