---
queries:
  # Metric names are set to the column names in the query results
  - query: >-
      SELECT
        SUM(stat.gets) AS "gets",
        SUM(stat.waits) AS "waits",
        SUM(stat.waits)/SUM(stat.gets) AS "ratio",
        inst.inst_id
      FROM GV$ROLLSTAT stat, GV$INSTANCE inst
      WHERE stat.inst_id=inst.inst_id
      GROUP BY inst.inst_id
    
    # If not set explicitly here, metric type will default to 
    # 'gauge' for numbers and 'attribute' for strings
    metric_types:
      gets: gauge

    # If unset, sample_name defaults to OracleCustomSample
    sample_name: MyCustomSample
