name: Create release artifacts

on:
  release:
    types:
      - released
    tags:
      - 'v*'

jobs:
  release:
    uses: newrelic/coreint-automation/.github/workflows/reusable_on_release.yaml@v3
    with:
      integration: oracledb
      tag: ${{ github.event.release.tag_name }}
      test_package: false
      publish_schema: "custom"
      publish_schema_url: "https://raw.githubusercontent.com/newrelic/nri-oracledb/${{ github.event.release.tag_name }}/build/s3-publish-schema.yml"
    secrets: inherit

